<ion-view view-title="工作经历">
  <ion-content>
    <div class="user-projectExperience">
      <ul class="list-style-D">
        <li class="list-item">
          <p class="leftText">公司名称</p>
          <p class="rightText"><input class="init" ng-model="workExperience.corporateName" placeholder="请输入公司名称"></p>
        </li>
        <li class="list-item">
          <p class="leftText">职位名称</p>
          <p class="rightText"><input class="init" ng-model="workExperience.jobTitle" placeholder="请输入职位名称"></p>
        </li>
        <li class="list-item">
          <p class="leftText">工作地点</p>
          <p class="rightText"><input class="init" ng-model="workExperience.workingPlace" placeholder="请输入工作地点"></p>
        </li>
        <li class="list-item">
          <p class="leftText">开始时间</p>
          <p class="rightText"><input class="init" ng-model="workExperience.startTime" type="datetime-local"></p>
        </li>
        <li class="list-item">
          <p class="leftText">结束时间</p>
          <p class="rightText"><input class="init" ng-model="workExperience.endTime" type="datetime-local"></p>
        </li>
        <li class="list-item">
          <p class="leftText">年薪</p>
          <p class="rightText"><input class="init" ng-model="workExperience.yearlySalary" type="tel" placeholder="元"></p>
        </li>
        <li class="list-item">
          <p class="leftText">工作业绩</p>
          <p class="rightText" style="height: 80px;"><textarea class="init" ng-model="workExperience.jobPerformance" placeholder="请输入工作业绩"></textarea></p>
        </li>
        <li class="list-item">
          <p class="leftText">工作职责</p>
          <p class="rightText" style="height: 80px;"><textarea class="init" ng-model="workExperience.operatingDuty" placeholder="请输入工作职责"></textarea></p>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
