<ion-header-bar class="bar-stable bar bar-header" align-title="center">
  <button ng-click="backClick();" class="button back-button  buttons  button-clear header-item">
    <i class="icon ion-ios-arrow-back"></i>
    后退
  </button>
  <div class="title title-center header-item">
    圈子成员
  </div>
  <div class="buttons buttons-right header-item"><span class="right-buttons">
        <button class="button ng-binding ng-hide" ng-click="toolClick();"
                ng-show="(navRightButtonText||navRightIonicClass)?true:false">
          {{navRightButtonText}}
          <i ng-class="navRightIonicClass" class=""></i>
        </button>
      </span></div>
</ion-header-bar>
<ion-content>
  <ul class="list-style-A" style="margin: 0">
    <li class="itme-A itme-photo">
      <a href="#/circle-userInfo/{{userInfo.userId}}" ng-repeat="userInfo in membersData.members">
        <div class="photo-box">
          <p class="photo"><img src="{{userInfo.heardPhotoUrl}}"></p>
          <p class="name" ng-bind="userInfo.name"></p>
        </div>
      </a>
      <a href="#/circle-selectContacts">
        <div class="photo-box">
          <p class="add"><i class="ion-plus-round"></i></p>
        </div>
      </a>
    </li>
    <a href="#/circle-member">
      <li class="itme-A">
        全部圈子成员({{membersData.members.length}})
        <i class="ion-chevron-right size-12 icon-right"></i>
      </li>
    </a>
    <a>
      <li class="itme-A">
        圈子描述
      </li>
    </a>
    <a>
      <li class="itme-A size-14" ng-bind-html="membersData.describe">

      </li>
    </a>
    <a href="#/circle-notice">
      <li class="itme-A">
        添加圈内通知
        <i class="ion-chevron-right size-12 icon-right"></i>
      </li>
    </a>
    <a href="#/circle-report">
      <li class="itme-A">
        举报
        <i class="ion-chevron-right size-12 icon-right"></i>
      </li>
    </a>
  </ul>
  <div class="bar  bar-assertive">
    <h1 class="title">删除并退出</h1>
  </div>
</ion-content>
